<!--
/**
 * Copyright © Leandro Rosa
 */
-->
<div class="doris-pipeline-container" id="doris-pipeline-modal" style="display: none">
    <div class="doris-pipeline-title">Doris Pipeline Product Integration</div>
    <div class="doris-pipeline-description">
        <aside>
            <p>
                <!-- ko i18n: 'Click on' --><!-- /ko -->
                <strong data-bind="i18n: 'Start Integration'"></strong>
                <!-- ko i18n: 'to begin exporting products to Doris.' --><!-- /ko -->
            </p>
            <p>
                <!-- ko i18n: 'Closing the window will' --><!-- /ko -->
                <strong data-bind="i18n: 'STOP'"></strong>
                <!-- ko i18n: 'Doris integration!' --><!-- /ko -->
            </p>
        </aside>
    </div>

    <!--  ko template: 'LeandroRosa_DorisCatalogIntegrator/product-integrator/console'  --><!--   /ko     -->
</div>
